<html>
    <head>
        <title>Search</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        
<a href="/"><button class="buttonStyle" style="margin-left:67px">Back To Search Page</button></a>
<i class="fa fa-imdb" aria-hidden="true" style="font-size:40px"></i>
<h1>Search Page</h1>
<% for(var i=0; i<data.Search.length; i++){ %>
<div id="style">
    <div class="style">
<%- '<a href="http://www.imdb.com/title/' + data.Search[i].imdbID + '" style="color:blue">' +  '<img src="' + data.Search[i].Poster + '">' + '</a>'  %>
<p style="text-align:center">
    <%- '<strong style="color:#9F2D2D">' + data.Search[i].Title +  '</strong>'   %>
</p>
    <span style="margin-left:173px" id="year"><%= data.Search[i].Year %></span>
    </div>
</div>
<% } %>
<div style="text-align:center">
<br style="clear:both">
<a href="/"><button class="buttonStyle">Back To Search Page</button></a>

<br><br>

<% var allPages = Math.ceil(data.totalResults / 10) %>
<% for(var i=1; i<= allPages; i++){ %>
    <form action="/s" method="GET" style="display:inline">
        <input type="hidden" placeholder="movie name" name="movie" value="<%= movie %>"></input>
        <input type="hidden" name="page" value="<%= i%>"></input>
        <% if(page == i){ %>
        <button style="color:red; border: none; background-color:#aaaaaa"><%= i%></button>
        <% }else{%>
        <button style="border: none; background-color:#dfdfdf"><%= i%></button>
        <% }%>
    </form>
<% }%>
<form action="/s" method="GET" style="display:inline">
        <input type="hidden" placeholder="movie name" name="movie" value="<%= movie %>"></input>
        <% var i=page; %>
        <% i-- %>
        <% if(i ==0){ i=1 }%>
        <input type="hidden" name="page" value="<%= i%>"></input>
        <button>previous</button>
</form>

<form action="/s" method="GET" style="display:inline">
        <input type="hidden" placeholder="movie name" name="movie" value="<%= movie %>"></input>
        <% var i=page; %>
        <% var noOfPages = Math.ceil(data.totalResults / 10)%>
        <% if(i == noOfPages){%>
        <% i-- }%>
        <% i++ %>
        <input type="hidden" name="page" value="<%= i%>"></input>
        <button>Next</button>
</form>
</div>

</body>
</html>